flows/Create_Session_Evaluation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Create Session Eval record?</label>
        </rules>
    </decisions>
    <description>Create Evaluation record to log eval response for session participant - ADD CATEGORY</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 1, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q2__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_0395490556</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 1, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q2__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 2, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q3__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A1_5792883435</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 2, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q3__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 3, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q4__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_1_A1_3302445249</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 3, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q4__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 4, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q5__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_1_A1_2470881526</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 4, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q5__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 5, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q6__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_1_A1_7443671315</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 5, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q6__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 6, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q7__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_1_A1_1018858156</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 6, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q7__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 7, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q8__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_1_A1_3787875456</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 7, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q8__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 8, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q9__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_1_A1_2851177343</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 8, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q9__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=1, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q1_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_1_A1_1236182356</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=1, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q1_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=2, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q2_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_1_A1_9965857573</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=2, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q2_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=3, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q3_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_1_A1_5666242795</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=3, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q3_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=4, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q4_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_1_A1_2546492671</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=4, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q4_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=5, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q5_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_1_A1_0202575591</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=5, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q5_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=6, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q6_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_1_A1_0423194924</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=6, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q6_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=7, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q7_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_1_A1_3220718897</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=7, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q7_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=8, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q8_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_1_A1_6068593266</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=8, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q8_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=9, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q9_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_1_A1_5709375494</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=9, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q9_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=10, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q10_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_1_A1_2584679434</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=10, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q10_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=11, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q11_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_1_A1_2681181227</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=11, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q11_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=12, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q12_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_1_A1_2210615651</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=12, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q12_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>If (not(isblank( [Session__c].ACF_Presenter__c )), [Session__c].ACF_Presenter__c, NULL)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4630978677</name>
        <dataType>String</dataType>
        <expression>If (not(isblank( {!myVariable_current.ACF_Presenter__c} )), {!myVariable_current.ACF_Presenter__c}, NULL)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=13, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q13_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_30_myRule_1_A1_1380017818</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=13, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q13_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=14, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q14_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_31_myRule_1_A1_3557126292</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=14, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q14_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF (
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt;=15, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q15_Category__c, NULL
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_32_myRule_1_A1_9278188207</name>
        <dataType>String</dataType>
        <expression>IF (
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt;=15, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q15_Category__c}, NULL
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 9, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q10__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_3430654347</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 9, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q10__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 10, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q11__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_1541952724</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 10, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q11__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 11, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q12__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_9604640453</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 11, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q12__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 12, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q13__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_0957539409</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 12, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q13__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 13, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q14__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_7371376781</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 13, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q14__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 14, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q15__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_7912632115</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 14, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q15__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF ([Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c &gt; 0, 
[Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q1__c, &quot;&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A1_8620822805</name>
        <dataType>String</dataType>
        <expression>IF ({!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Number_of_questions__c} &gt; 0, 
{!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c.ACF_Q1__c}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
 NOT ( ISBLANK ( [Session__c].ACF_Offering__c.ACF_Session_EvaluationTemplate__c )),
 ISCHANGED( [Session__c].ACF_Trigger_PB__c )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND (
 NOT ( ISBLANK ( {!myVariable_current.ACF_Offering__c.ACF_Session_EvaluationTemplate__c} )),
 ISCHANGED( {!myVariable_current.ACF_Trigger_PB__c} )
)</expression>
    </formulas>
    <interviewLabel>Create_Session_Evaluation-3_InterviewLabel</interviewLabel>
    <label>Create Session Evaluation records</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Session__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create Session Evaluation</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EE Program Offering</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_EE_Program_Offering__c</field>
            <value>
                <elementReference>myVariable_current.ACF_Offering__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Faculty / Presenter</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Faculty_Presenter__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_4630978677</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q10 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q10_Category__c</field>
            <value>
                <elementReference>formula_27_myRule_1_A1_2584679434</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q10__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_3430654347</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q11 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q11_Category__c</field>
            <value>
                <elementReference>formula_28_myRule_1_A1_2681181227</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q11</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q11__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_1541952724</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q12 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q12_Category__c</field>
            <value>
                <elementReference>formula_29_myRule_1_A1_2210615651</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q12</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q12__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_9604640453</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q13 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q13_Category__c</field>
            <value>
                <elementReference>formula_30_myRule_1_A1_1380017818</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q13</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q13__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_0957539409</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q14 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q14_Category__c</field>
            <value>
                <elementReference>formula_31_myRule_1_A1_3557126292</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q14</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q14__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_7371376781</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q15 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q15_Category__c</field>
            <value>
                <elementReference>formula_32_myRule_1_A1_9278188207</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q15</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q15__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_7912632115</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q1 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q1_Category__c</field>
            <value>
                <elementReference>formula_18_myRule_1_A1_1236182356</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q1</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q1__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A1_8620822805</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q2 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q2_Category__c</field>
            <value>
                <elementReference>formula_19_myRule_1_A1_9965857573</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q2.</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q2__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_0395490556</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q3 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q3_Category__c</field>
            <value>
                <elementReference>formula_20_myRule_1_A1_5666242795</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q3</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q3__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A1_5792883435</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q4 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q4_Category__c</field>
            <value>
                <elementReference>formula_21_myRule_1_A1_2546492671</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q4</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q4__c</field>
            <value>
                <elementReference>formula_12_myRule_1_A1_3302445249</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q5 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q5_Category__c</field>
            <value>
                <elementReference>formula_22_myRule_1_A1_0202575591</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q5__c</field>
            <value>
                <elementReference>formula_13_myRule_1_A1_2470881526</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q6 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q6_Category__c</field>
            <value>
                <elementReference>formula_23_myRule_1_A1_0423194924</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q6</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q6__c</field>
            <value>
                <elementReference>formula_14_myRule_1_A1_7443671315</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q7 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q7_Category__c</field>
            <value>
                <elementReference>formula_24_myRule_1_A1_3220718897</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q7</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q7__c</field>
            <value>
                <elementReference>formula_15_myRule_1_A1_1018858156</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q8 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q8_Category__c</field>
            <value>
                <elementReference>formula_25_myRule_1_A1_6068593266</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q8</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q8__c</field>
            <value>
                <elementReference>formula_16_myRule_1_A1_3787875456</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q9 Category</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q9_Category__c</field>
            <value>
                <elementReference>formula_26_myRule_1_A1_5709375494</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Q9</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Q9__c</field>
            <value>
                <elementReference>formula_17_myRule_1_A1_2851177343</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Session</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ACF_Session__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Evaluation__c</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
