flows/Create_Affiliation_and_Administrative_Account-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>AdministrativeAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Administrative Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>AdministrativeAccountRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012360000007uz3</stringValue>
        </value>
    </constants>
    <description>Flow to create a Business Org Affiliation and an Administrative account when adding contacts from Data.com</description>
    <interviewLabel>Create Affiliation and Administrative Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Affiliation and Administrative Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the administrative account to stick with the HEDA administrative account model</description>
        <name>Create_Administrative_Account</name>
        <label>Create Administrative Account</label>
        <locationX>141</locationX>
        <locationY>176</locationY>
        <assignRecordIdToReference>Admin_Account_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_ID_on_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AutoAdministrativeAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AdministrativeAccountRecordType</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <description>Creates employment affiliation.</description>
        <name>New_Business_Org_Affiliation</name>
        <label>New Business Org Affiliation</label>
        <locationX>144</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Create_Administrative_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Organization_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Role__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Affiliation__c</object>
    </recordCreates>
    <recordUpdates>
        <description>Update the contact so that the newly created administrative account is populated in the standard account field.</description>
        <name>Update_Account_ID_on_Contact</name>
        <label>Update Account ID on Contact</label>
        <locationX>141</locationX>
        <locationY>287</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Admin_Account_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>New_Business_Org_Affiliation</startElementReference>
    <textTemplates>
        <name>AdminAccountName</name>
        <text>{!Administrative_Account_Name}</text>
    </textTemplates>
    <textTemplates>
        <name>AdministrativeAccountName</name>
        <text>{!AdministrativeAccountRecordType}</text>
    </textTemplates>
    <textTemplates>
        <name>AutoAdministrativeAccountName</name>
        <text>{!Contact_LastName} {!AdministrativeAccount}</text>
    </textTemplates>
    <variables>
        <name>Admin_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Admin_Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Administrative_Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Job_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Organization_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
